body {
    background-color: #b39f7a; 
    font-family: Montserrat, sans-serif;
    margin: 0;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
}

h1 {
    margin-top: 30px;  
    text-align: center; 
}

.name-inputs {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px; 
}

.item-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    margin-bottom: 20px;
    width: 60%; 
}

.item {
    display: flex;
    align-items: center; 
    gap: 10px; 
    width: 48%; 
}

input[type="checkbox"] {
    order: -1; 
}

label {
    flex-grow: 1; 
}

input[type="number"] {
    width: 50px; 
    padding: 5px;
    text-align: center; 
}

button {
    padding: 10px 20px;
    background-color: #663300; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
    width: 220px; 
}

button:hover {
    background-color: #5a402b; 
}

div {
    margin-top: 20px; 
}

strong {
    font-size: 18px;
    font-weight: bold;
}